/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/

:root {
  --app-color-primary: #686bd2;
  --app-color-secondary: #ff0076;
  --font-family: sans-serif;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;

  position: initial !important;
  overflow: auto !important;
}

html {
  background-image: url(/assets/backdrop.svg);
  background-repeat: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
  background-size: 40%;
}

.dualScreen {
  width: 50%;
  position: absolute;
  right: 0;
  left: initial;
  top: 0;
  bottom: 0;
  background: white;
}

.dualScreen .modal-wrapper {
  height: 100%;
}

.modal-wrapper .ion-page {
  padding-left: 1.4em;
  padding-top: 1em;
  padding-right: 6px;
}

.modal-wrapper dual-about.ion-page {
  padding-right: initial;
  padding-top: initial;
  padding-bottom: initial;
  padding-left: 1em;
}

@media (max-width: 600px) {
  html {
    background-size: 90%;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #292929;
  }
}